html,body,div,section,ul {
  margin: 0;
  padding: 0;
}
html,body,#app {
  height: 100%;
}

:root {
  font-size: 16px
}

.active {
  position: relative;
  background: rgba(87, 171, 228, 0.2);
}

.ml-5 {
  margin-left: 5px;
}

.mr-5{
  margin-right: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10{
  margin-right: 10px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}